<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>       
        <div class='table-responsive'>
            <table class='table' *ngIf='shirts && shirts.length'>
                <thead>
                    <th>Id</th>
                    <th>Price</th>
                    <th>Picture</th>
                    <th>Size</th>
                    <th>Name</th>
                    <th>Quantity</th>                                            
                </thead>
                <tbody>
                   <tr *ngFor='let shirt of shirts'>                       
                        <td>{{shirt.id }}</td>
                        <td>{{shirt.price}}</td>
                        <td>{{shirt.picture}}</td>
                        <td>{{shirt.size}}</td>
                        <td>{{shirt.name}}</td>
                        <td>{{shirt.quantity}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>